* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(219, 219, 219);
    height: 100vh; 
}

header{
    background-color: rgb(122, 122, 122);
    height: 70px;
    border-bottom-left-radius: 65px; 
    border-bottom-right-radius: 65px; 
    padding: 15px 15px;
}

.usuario{
    background-color: white;
    border-radius: 20px;
    font-size: 12pt;
    align-items: center;  
    padding: 10px 15px;  
    border: none;
    cursor: pointer;
  
}
.exit{
    background-color: white;
    border-radius: 20px;
    font-size: 12pt;
    align-items: center;  
    padding: 10px 15px;  
    border: none;
    cursor: pointer;
}

.usuario i {
    margin-right: 15px;  
  }
 

.exit:hover, .usuario:hover{
    transform: scale(1.1);;
    color: darkcyan;
}

.conteiner {
    display: flex;
    justify-content: flex-end;  /* Centraliza os botões horizontalmente */
    align-items: center; 
    gap: 18px;
    margin-right: 70px;
  }
  
nav.menu-lateral{
    width: 70px;
    height: 100%;  
    background-color: white;
    padding: 40px 0 40px 1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 0px 0px 1px;
    
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}
nav.menu-lateral:hover{
    width: 200px;
}

ul{
    height: 100%;
    list-style: none;
}

ul li.item-menu{
    transition: .5s;
}

ul li.item-menu:hover{
    background-color: darkcyan;
}

ul li.item-menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    line-height: 40px;
   
}

.txt-link{
    margin-left: 30px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.logo{
    padding: 10px 10px;
    
}

nav.menu-lateral .submenu{
    background-color: rgb(122, 122, 122);
    padding: 10%;
    display: none; 
}

.item-menu:hover .submenu {
    display: block;
}

.menu-lateral .item-menu .submenu a {
    color: white;
}

.menu-lateral .item-menu .submenu a:hover{
    text-decoration:underline
}
